<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular • TodoMVC</title>
  <link rel="stylesheet" href="../static/base.css">
  <link rel="stylesheet" href="../static/index.css">
</head>

<body ng-app="myApp" ng-controller="demoCtrl">
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <form id="todo-form" ng-submit="submitTask()">
        <input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="task">
      </form>
    </header>

    <section class="main">
      <input id="toggle-all" class="toggle-all" type="checkbox" ng-click="changeStatus()" ng-model="status">
      <label for="toggle-all">Mark all as complete</label>

      <ul class="todo-list">
        <li ng-repeat="item in taskList | filter:{isCompleted : condition }" ng-class="{'completed':item.isCompleted,'editing':item.isEdit}">
          <div class="view">
            <input class="toggle" type="checkbox" ng-model="item.isCompleted">
            <label ng-dblclick="modifyData(item.id)">{{ item.name }}</label>
            <button class="destroy" ng-click="deleteTask(item.id)"></button>
          </div>
          <form>
            <input class="edit" ng-model="item.name" ng-blur="blurFn()">
          </form>
        </li>
      </ul>

    </section>
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count">
        <strong>{{ calcNumber() }}</strong> item left</span>
      <ul class="filters">
        <li>
          <a ng-click="filterTask('All')" class="selected" href="javascript:;">All</a>
        </li>
        <li>
          <a ng-click="filterTask('Active')" href="javascript:;">Active</a>
        </li>
        <li>
          <a ng-click="filterTask('Completed')" href="javascript:;">Completed</a>
        </li>
      </ul>
      <button class="clear-completed" ng-click="clearData()">Clear completed</button>
    </footer>
  </section>

  <script src="../static/base.js"></script>
  <script src="../build/angular.min.js"></script>
  <script src="./src/app.js"></script>
</body>

</html>